{% extends 'base.html.twig' %}

{% block title %}S&PEvents
{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="row mb-5 ">
    <div class="col-5 mt-5"><img src={{asset('assets/images/festival.jpg')}} alt="" style='height: 42vh; width: 50vw'></div>
    <div class="col-7"><img src={{asset('assets/images/rock.jpg')}} alt="" style='height:55vh; width: 50vw'></div>
  </div>

  <div class="filtre-dropdown d-flex ">
  <h3 class='mx-2'>Evénements populaires: </h3>
  <div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Villes
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{{path('app_home')}}" >Tous</a></li>
    <li><a class="dropdown-item" href="{{path('app_filtre',{'id' : 'Marseille'})}}" >Marseille</a></li>
    <li><a class="dropdown-item" href="{{path('app_filtre',{'id' : 'Bordeaux'})}}" >Bordeaux</a></li>
    <li><a class="dropdown-item" href="{{path('app_filtre',{'id' : 'Paris'})}}" >Paris</a></li>
  </ul>
</div>

  </div>
	<div class="row m-4">
		{% for filtre in filtres %}
				<div class="col-md-3 mt-3">
					<div class="card">
						<img src="{{ asset(filtre.image) }}" class="card-img-top" alt="{{ filtre.titre }}" style='height:20vh'>
						<div class="card-body">
							<h4 class="card-title">{{filtre.titre }}</h4>
							<h5 class='card-date'>{{filtre.ville}}</h5>
							<p class='card-date text-secondary'>{{filtre.date}}</p>
							<p class="card-text text-secondary">{{filtre.prix}}€</p>
							<div class='card-button text-center'>
								<a href="{{path('app_fiche_evenement',{'id':filtre.id})}}" class="btn btn-primary">Réserver</a>
							</div>
						</div>
					</div>
				</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}
