{% extends 'base.html.twig' %}

{% block title %}Évenement{% endblock %}

{% block body %}

<div class="row-8 m-5 text-center">
			<div class="col-md-7 m-auto modal-xl">
				<div class="card">
					<img src="{{asset(events.image)}}" class="card-img-top" alt={{events.titre}} style='height:70vh'>
					<div class="card-body">
						<h4 class="card-title fs-1" style='color:darkblue'>{{events.titre}}</h4>
						<p class="card-text">{{events.description }}</p>
						<p><b> {{events.prix}}€</b></p>

                        {% if app.user %}
						<a href="{{path('app_qr_code_generator')}}" class="btn btn-primary">Obtenir les billets</a>
                        {% else %}
						<a href="{{path('app_login')}}" class="btn btn-primary w-25">Obtenir les billets</a>
                        {% endif %}

					</div>
				</div>
			</div>
			
	</div>
{% endblock %}
