{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
	<h1 class="text-center mb-5">Évenements</h1>

	<table class="table m-auto w-75">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Image</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Ville</th>
				<th>Date</th>
				<th>CreatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody >

			{############## ROLE ADMIN ###############}

			{% if is_granted('ROLE_ADMIN') %}

				{% for event in events %}
					<td>{{ event.id }}</td>
					<td>{{ event.titre }}</td>
					<td><img src="{{ asset(event.image) }}" width="100"></td>
					<td>{{ event.description }}</td>
					<td>{{ event.prix }}</td>
					<td>{{ event.ville }}</td>
					<td>{{ event.date }}</td>
					<td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_ajout_evenement_show', {'id': event.id}) }}" class='btn btn-outline-warning'>Détails</a>
						<a href="{{ path('app_ajout_evenement_edit', {'id': event.id}) }}" class='btn btn-outline-danger'>Modifier</a>
					</td>
				</tr>
			{% else %}

				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
			{###################################}
		{% else %}

			{% for ajout_evenement in ajout_evenements %}

				<tr>
					<td>{{ ajout_evenement.id }}</td>
					<td>{{ ajout_evenement.titre }}</td>
					<td><img src="{{ asset(ajout_evenement.image) }}" width="100"></td>
					<td>{{ ajout_evenement.description }}</td>
					<td>{{ ajout_evenement.prix }}€</td>
					<td>{{ ajout_evenement.ville }}</td>
					<td>{{ ajout_evenement.date }}</td>
					<td>{{ ajout_evenement.createdAt ? ajout_evenement.createdAt|date('Y-m-d') : '' }}</td>

					<td>
						<a href="{{ path('app_ajout_evenement_show', {'id': ajout_evenement.id}) }}" class="btn btn-outline-warning">Détails</a>
						<a href="{{ path('app_ajout_evenement_edit', {'id': ajout_evenement.id}) }}" class="btn btn-outline-danger">Modifier</a>
					</td>
				</tr>
			{% else %}

				<tr>
					<td colspan="9">Rien n'a été trouvé</td>
				</tr>
			{% endfor %}
		{% endif %}

	</tbody>
</table>

<div class='create-btn text-center mt-3'>
	<a href="{{ path('app_ajout_evenement_new') }}" class="btn btn-primary">Nouveau Projet</a>
</div>{% endblock %}
